.container {
  position: relative;
  background-color: var(--color-bg-sub);
  width: 840px;
  max-width: calc(100% - 32px);
  margin: 60px auto 0;
  padding: 80px;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 32px);
    margin: 50px auto 0;
    padding: 40px 20px;
    border-radius: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: calc(100% - 24px);
    margin: 40px auto 0;
    padding: 24px 16px;
    border-radius: 1rem;
  }
}
